<h1 class="mt-5 ms-5">Stupid Coaching</h1>
<h5 class="mt-3 ms-5"><%= @question %> - you </h5>
<h5 class="mt-3 ms-5"><%= @answer %> - your coach</h5>
<p class="mt-3 ms-5"><%= link_to "Ask a new question", ask_path %></p>
